# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\user\Documents\לימודים\חומרי לימוד\סמסטר ט\עקרונות שפות תכנות\glassdoor-review-scraper-master\glassdoor-review-scraper-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
